<%= render partial: 'layouts/profile_nav' %>
<div class="container">
  <div class="row">
    <div class="col-sm-3 col-sm-offset-1">
      <%= image_tag current_user.image_url, class: "img-responsive img-circle",
                  alt: "#{current_user.name} image" %>
    </div>
    <div class="profile col-sm-6">
      <div class="clearfix">
        <h2 class="pull-left"><%= current_user.nickname %></h2>
        <%= link_to "Edit Profile", "#", class: 'btn btn-sm btn-default pull-right' %>
      </div>
      <h5> <%= current_user.name %> </h5>
      <div class="stats">
        <div class="col-sm-4">
          <p class="text-left"><strong>12</strong> posts</p>
        </div>
        <div class="col-sm-4">
          <p class="text-left"><strong>12</strong> followers</p>
        </div>
        <div class="col-sm-4">
          <p class="text-left"><strong>12</strong> following</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag current_user.image_url, class: "img-responsive thumbnail",
                  alt: "#{current_user.name} image" %>
    </div>
    <div class="col-sm-4">
      <%= image_tag current_user.image_url, class: "img-responsive thumbnail",
                  alt: "#{current_user.name} image" %>
    </div>
    <div class="col-sm-4">
      <%= image_tag current_user.image_url, class: "img-responsive thumbnail",
                  alt: "#{current_user.name} image" %>
    </div>
    <div class="col-sm-4">
      <%= image_tag current_user.image_url, class: "img-responsive thumbnail",
                  alt: "#{current_user.name} image" %>
    </div>
    <div class="col-sm-4">
      <%= image_tag current_user.image_url, class: "img-responsive thumbnail",
                  alt: "#{current_user.name} image" %>
    </div>
    <div class="col-sm-4">
      <%= image_tag current_user.image_url, class: "img-responsive thumbnail",
                  alt: "#{current_user.name} image" %>
    </div>
    <div class="col-sm-4">
      <%= image_tag current_user.image_url, class: "img-responsive thumbnail",
                  alt: "#{current_user.name} image" %>
    </div>
    <div class="col-sm-4">
      <%= image_tag current_user.image_url, class: "img-responsive thumbnail",
                  alt: "#{current_user.name} image" %>
    </div>
    <div class="col-sm-4">
      <%= image_tag current_user.image_url, class: "img-responsive thumbnail",
                  alt: "#{current_user.name} image" %>
    </div>
    <div class="col-sm-4">
      <%= image_tag current_user.image_url, class: "img-responsive thumbnail",
                  alt: "#{current_user.name} image" %>
    </div>
    <div class="col-sm-4">
      <%= image_tag current_user.image_url, class: "img-responsive thumbnail",
                  alt: "#{current_user.name} image" %>
    </div>
    <div class="col-sm-4">
      <%= image_tag current_user.image_url, class: "img-responsive thumbnail",
                  alt: "#{current_user.name} image" %>
    </div>
    <div class="col-sm-4">
      <%= image_tag current_user.image_url, class: "img-responsive thumbnail",
                  alt: "#{current_user.name} image" %>
    </div>

  </div>
</div>
